html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Nunito;
}

:root {
  --light-blue-color: #a0c4fd;
  --dark-blue-color: #002a6d;
  --blue-color: #448bfc;
  --dark-grey-color: #1d1e22;
  --white-color: #ffffff;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.dark-grey-background {
  background-color: var(--dark-grey-color);
}

.white-text {
  color: var(--white-color);
}

.fadeTarget{
  opacity: 0;
}

nav {
  height: 50px;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navlink {
  color: #d4d4d4;
  float: right;
  padding: 10px 15px;
  font-size: 20px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
}

.navlink:hover {
  color: var(--blue-color);
}

#welcome-section {
  /*
  background: url("https://raw.githubusercontent.com/Nootuff/Storage/master/Portfolio_images/code-2.jpg")
    no-repeat center fixed;
  background-size: cover;
    position: relative;
  */
    
 height: 100vh;/* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
margin: 0 auto;
  text-align: center;
}

.bg {
  animation:bgSlide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--dark-grey-color) 50%, var(--dark-blue-color) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes bgSlide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

#intro{
  padding-top: 25vh;
  font-size: 40px;
  max-width: 100%;
  box-sizing: border-box;
}

.line-breaker{
    display: block;
  }

#hello {
  position: relative;
  color: transparent;
  white-space : nowrap;
  text-align: left;
  max-width: 100%;
}

#hello::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0; 
  width: 0;
  height: 100%;
  color: var(--white-color);
  overflow: hidden;
  animation: textWipe 1.5s forwards;
  }
  
#adam {
  position:relative;
  z-index:0;
  opacity: 0;
  color: var(--blue-color);
}

#sub-heading {
  margin-top: -25px;
}

#icons{
  display: none;
}

@keyframes textWipe {
  0%{
    opacity: 0;
    width: 0;
  }
  70%{
    opacity: 1;
    width: 100%;
  }
  100%{
    width: 100%;
  }
}

.glowAnim{
  animation: glow 1.5s forwards;
  animation-delay: 0.7s;
  animation-direction: alternate;
}

@keyframes glow{
  0%{text-shadow:0px 0px 1px var(--light-blue-color),0px 0px 0.5px var(--white-color);
   opacity: 0}
  35%{text-shadow:0px 0px 20px var(--light-blue-color),0px 0px 20px var(--white-color);}
  70%{text-shadow:0px 0px 1px var(--light-blue-color),0px 0px 0.5px var(--white-color);
    color: var(--blue-color);
  }
  100%{opacity:1;}
}

.fadeAnim{
  animation: fadeIn 4s forwards;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  70%{opacity: 1;}
  100%{opacity: 1;}
}

.heading {
  margin: 55px auto 0;
  font-size: 30px;
  display: inline-block;
  background-color: var(--blue-color);
  width: 90%;
  height: auto;
  text-align: center;
  border-radius: 8px;
opacity: 0;
}

.slideLeft{
  -ms-transform: translateX(100px);
-webkit-transform: translateX(100px);
-moz-transform: translateX(100px);
-o-transform: translateX(100px);
    transform:translateX(100px);
  transform: translateX(100px);
}

.slideRight{
  -ms-transform: translateX(-100px);
-webkit-transform: translateX(-100px);
-moz-transform: translateX(-100px);
-o-transform: translateX(-100px);
    transform:translateX(-100px);
  transform: translateX(-100px);
}

.slideSideAnim{
  animation: slideSide 1.5s forwards, backgroundColorPalette 5s infinite alternate;
}

@keyframes backgroundColorPalette {
	0% {background-color: var(--blue-color);}
	25% {background-color: #2952a3;}
	50% {background: #24478f;}
	75% {background: #1f3d7a;}
	100% {background: #193366;}
}

@keyframes slideSide{
  0%{opacity: 0;}
  100%{
    -ms-transform: translateX(0);
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-o-transform: translateX(0);
    transform:translateX(0);
    opacity: 1;
  }
}

#about {
  height: auto;
  padding-bottom: 20px;
  text-align: center;
}

#about-container {
  margin: 0px auto;
  width: 90%;
  text-align: left;
}

#about-para{
  font-size: 20px;
}

.proficiency-subheading {
  text-align: center;
  font-size: 20px;
}

#proficiency-table {
 text-align: center;
  margin-bottom: 30px;
}

#proficiency-table p{
font-size: 20px;
}
  
.left {
 margin-right: 20%;
display: inline-block;
text-align: left;
}

.right {
  display: inline-block;
  text-align: left;
}

.column p{
  margin-bottom: -18px;
}

.slam-anim{
  animation: slam 0.7s forwards;
}

@keyframes slam {
  0% {margin-right: 25%;}
38%{margin-right: 1%;}
55%{margin-right: 5%;}
72%{margin-right: 1%;}
81%{margin-right: 3%;}
90%{margin-right: 1%;}
  100% {margin-right: 1%;}
}

#projects {
  height: auto;
  background-color: #3b3b3b;
  text-align: center;
  padding-bottom: 20px;
 overflow: hidden;
}

.project-base {
  display: grid;
  height: auto;
 width: 90%;
  margin: 49px auto 0px;
 grid-template-columns: 1fr;
  grid-gap: 2%;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

  .project-descriptor{
    width: 90%;
 
    margin: auto;
  }

.project-title{
   margin: 30px auto 0px;
  font-size: 2.5em;
  color: var(--white-color);
}

.project-skills{
color: var(--blue-color);
     margin-bottom: 30px;
}

.project-blurb{
  font-size: 14px;
  margin-bottom: 40px;
  width: 90%;
}

.project-image{
    width: 85%;
    margin: 25px auto 0px;
  }

.top-image{
  display: block;
}

.bottom-image{
  display: none;
}

.button-container{
   width: 90%;
    margin: 40px auto 60px;
}

.project-button{
  border-radius: 3px;
  padding: 5px 15px;
  background-size: 100% 200%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  color: white;
   color: var(--dark-grey-color);
   font-weight: bold;
  box-sizing: border-box;
}

.visit{
 background-image: linear-gradient(
    to bottom,
    var(--white-color) 50%,
    var(--blue-color) 50%
  );
  margin-right: 4px
}

.github{
 background-image: linear-gradient(
    to bottom,
    var(--white-color) 50%,
    var(--blue-color) 50%
  );
   margin-left: 4px
}

.project-button:hover {
  background-position: 0% 100%;
  color: var(--white-color);
}

.slideUpTarget{
  opacity: 0;
  margin-top: 80px;
}

.slideUpAnim{
  animation: slideUp 0.4s forwards;
}

@keyframes slideUp{
  0%{
    opacity: 0;
  }
  100%{
    margin-top: 49px ;
    opacity: 1;
  }
}

#link-container {
  color: var(--dark-grey-color);
  width: 250px;
  height: 50px;
  text-align: center;
  margin: 30px auto 50px auto;
  box-sizing: border-box;
  border: 3px solid var(--dark-grey-color);
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom,
    var(--white-color) 50%,
    var(--blue-color) 50%
  );
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  padding: 2px;
  font-size: 30px;
}

#link-container:hover {
  background-position: 0% 100%;
  color: var(--white-color);
}

#contact {
  text-align: center;
  height: auto;
  font-size: 30px;
}

#form-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: left;
}

#form-header{
   -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
  transform-origin: bottom left;
  opacity: 0;
}

#of-course{
  color: var(--blue-color);
}

.swing-up-anim{
  animation: swing-up 0.7s forwards;
}

@keyframes swing-up{
  0%{opacity: 0;}
  38%{
      -ms-transform: rotate(0deg); 
  transform: rotate(0deg);
    opacity: 1;
  }
  55%{
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  }
  
  72%{
     -ms-transform: rotate(0deg); 
  transform: rotate(0deg);
  }
  
  81%{
    -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  }
  
  90%{
     -ms-transform: rotate(0deg); 
  transform: rotate(0deg);
  }
  
  100%{
   -ms-transform: rotate(0deg); 
  transform: rotate(0deg);
    opacity: 1;
  }
}

form{
  opacity: 0;
    -ms-transform: scale(0.1); 
  transform: scale(0.1);
  margin: 0px auto;
  text-align: left;
}

input,
textarea {
  font-family: Nunito;
  width: 100%;
  background-color: #1b2833;
  border: 3px solid #1b2833;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

textarea {
  margin-top: 10px;
}

#submit-container {
  text-align: center;
}

#submit {
  background-size: 100% 200%;
  border-radius: 0px;
  background-image: linear-gradient(
    to bottom,
    var(--white-color) 50%,
    var(--blue-color) 50%
  );
  transition: 0.5s ease-in-out;
  width: 60%;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  color: var(--dark-grey-color);
  font-size: 30px;
}

#submit:hover {
  background-position: 0% 100%;
  color: var(--white-color);
}

.scale-up-anim{
  animation: scale-up 0.7s forwards;
}

@keyframes scale-up{
  0%{ opacity: 0;}
  
  100%{
 -ms-transform: scale(1); 
  transform: scale(1); 
    opacity: 1;
  }
}

#footer-contents{
  border: 1px solid red;
}


footer {
  background-color: #3b3b3b;
  height: 90px;
  text-align: center;
  margin-top: -21px;
    font-size: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
}

#copyright{
  margin-bottom: -10px;
}


/* smaller screen */
@media only screen and (min-width: 768px) {
  
   #intro{
     font-size: 3em;
  padding-top: 9vw;
  }
  
   #icons{
  display: block;
}
  
  .icon-container {
  margin: 3px;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  background-color: var(--white-color);
}

#icons .icon-container {
  display: inline-block;
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  margin-bottom: 30px;
}

.linkIcon {
  background-color: var(--white-color);
  color: var(--dark-grey-color);
  padding: 10px;
  font-size: 1.8em;
  border-radius: 50%;
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
}

.linkIcon:hover {
  transform: rotateY(360deg);
  background-color: var(--blue-color);
  color: var(--white-color);
}

.icon-containter:hover {
  background-color: var(--blue-color);
}
  
.project-base {
     padding: 40px;
     width: 85%;
  }

.project-skills{
    margin-bottom: 0;
  }

 .button-container{
     margin-top: 30px;
  }

.heading {
    font-size: 45px;
    width: 70%;
  }
}

/* tablet 
@media only screen and (max-width: 700px) {
   
}
*/

/* For desktop: */
@media only screen and (min-width: 950px ) {
#intro{
      
  }

.line-breaker{
    display: none;
  }
  
  .linkIcon {
  font-size: 2.5em;
    padding: 12px;
}
  
  .icon-container{
    margin: 10px;
     border: 5px solid var(--white-color);
  }
  
#about-container{
   width: 70%;
  }

 #proficiency-table{
  font-size: 35px;  
  }

.project-base{
   text-align: left;
   grid-template-columns: 1fr 1fr;
  }
  
  .project-image{
    margin: 0;
    width: 100%;
  }

  .top-image{
  display: none;
}

.bottom-image{
  display: block;
}
  
.project-blurb{
  font-size: 20px;
}
}
